* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #ff9800;
}

body {
  font-family: "Nunito";
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/*start settings box*/
.settings-box {
  position: fixed;
  top: 0;
  left: -280px;
  z-index: 1000;
  background-color: white;
  width: 280px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.settings-box.open {
  left: 0;
}

.settings-box .iconCon {
  position: absolute;
  top: 200px;
  right: -32px;
  background-color: white;
  color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 32px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.settings-box .settings-container .option-box {
  padding: 10px;
  margin: 10px;
  background-color: #eee;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.settings-box .settings-container .option-box h4 {
  margin: 0;
  color: #666;
}

.settings-box .settings-container .option-box .colors-list {
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin: 10px 0px 5px;
}

.settings-box .settings-container .option-box .colors-list li {
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #eee;
}

.settings-box .settings-container .option-box .colors-list li:first-child {
  background-color: #ff9800;
}

.settings-box .settings-container .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}

.settings-box .settings-container .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}

.settings-box .settings-container .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}

.settings-box .settings-container .option-box .colors-list li:last-child {
  background-color: #4caf50;
}

.settings-box .settings-container .option-box .colors-list .active {
  border-color: white;
  cursor: default;
}

.settings-box .settings-container .option-box .yes,
.settings-box .settings-container .option-box .no {
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
  margin: 15px 0px 8px;
  width: 80px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.3;
}

.settings-box .settings-container .option-box .yes.active,
.settings-box .settings-container .option-box .no.active {
  opacity: 1;
  cursor: default;
}

.settings-box .settings-container .option-box .yes {
  background-color: #009688;
}

.settings-box .settings-container .option-box .no {
  background-color: #e91e63;
}

/*end settings box*/
/*start landing page*/
.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/background-1.jpeg");
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.61);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.landing-page .header-area {
  position: relative;
  color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.landing-page .header-area .logo {
  width: 300px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  font-weight: 800;
  font-size: 20px;
}

.landing-page .header-area .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  width: 100%;
  padding-left: 0;
  padding-right: 20px;
}

.landing-page .header-area .links li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.landing-page .header-area .links li a:hover {
  color: var(--main-color);
}

.landing-page .header-area .links li .active {
  color: var(--main-color);
}

.landing-page .introduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
}

.landing-page .introduction-text h1 {
  font-size: 45px;
  margin: 0 0 20px 0;
}

.landing-page .introduction-text h1 span {
  color: var(--main-color);
}

.landing-page .introduction-text p {
  line-height: 1.6;
  font-size: 25px;
  margin: 0;
}

/*end landing page*/
/*start about us*/
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .info-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}

.about-us .info-box h2 {
  font-weight: bold;
  font-size: 45px;
  color: var(--main-color);
  margin: 0 0 10px;
}

.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
  font-size: 25px;
}

.about-us .img-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.about-us .img-box img {
  width: 300px;
}

/*end about us*/
/*start our skills*/
.our-skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}

.our-skills h2 {
  font-weight: bold;
  font-size: 45px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}

.our-skills .skill-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  margin-bottom: 15px;
  padding: 15px;
  background-color: white;
}

.our-skills .skill-name {
  text-align: center;
  font-weight: bold;
  width: 150px;
}

.our-skills .skill-progress {
  width: calc(100% - 150px);
  height: 20px;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.our-skills .skill-progress span {
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  -webkit-transition: all 1.8s;
  transition: all 1.8s;
}

/*end our skills*/
/*start our gallery*/
.our-gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.our-gallery .container {
  text-align: center;
}

.our-gallery h2 {
  font-weight: bold;
  font-size: 45px;
  color: var(--main-color);
  margin: 0 0 50px;
}

.our-gallery .images-box img {
  width: 220px;
  height: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 2px;
  cursor: pointer;
}

/*end our gallery*/
/*# sourceMappingURL=index.css.map */