@import "./scss/global_rules";
@import "./scss/mixins";
@import "./scss/colors_variables";
//
/*start settings box*/
.settings-box {
  position: fixed;
  top: 0;
  left: -280px;
  z-index: 1000;
  background-color: $white;
  width: 280px;
  min-height: 100vh;
  transition: $main-transition;
  &.open {
    left: 0;
  }
  .iconCon {
    position: absolute;
    top: 200px;
    right: -32px;
    background-color: $white;
    color: $black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @include paddingtb(5px, 5px);
    width: 32px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
  }
  .settings-container {
    .option-box {
      padding: 10px;
      margin: 10px;
      background-color: #eee;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      h4 {
        margin: 0;
        color: #666;
      }
      //colors
      .colors-list {
        text-align: center;
        padding: 0;
        @include flexCentering;
        gap: 5px;
        margin: 10px 0px 5px;
        li {
          @include samewh(25px);
          background-color: green;
          border-radius: 50%;
          cursor: pointer;
          border: 3px solid #eee;
          &:first-child {
            background-color: $first-color;
          }
          &:nth-child(2) {
            background-color: $second-color;
          }
          &:nth-child(3) {
            background-color: $third-color;
          }
          &:nth-child(4) {
            background-color: $qua-color;
          }
          &:last-child {
            background-color: $cin-color;
          }
        }
        .active {
          border-color: $white;
          cursor: default;
        }
      }
      //random backgrounds
      .yes,
      .no {
        color: $white;
        cursor: pointer;
        display: inline-block;
        padding: 5px 15px;
        margin: 15px 0px 8px;
        width: 80px;
        font-weight: bold;
        border-radius: 4px;
        opacity: 0.3;
        &.active {
          opacity: 1;
          cursor: default;
        }
      }
      .yes {
        background-color: $third-color;
      }
      .no {
        background-color: $second-color;
      }
    }
  }
}
/*end settings box*/
/*start landing page*/
.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/background-1.jpeg");
  background-size: cover;
  position: relative;
  .overlay {
    position: absolute;
    background-color: rgba($color: $black, $alpha: 0.61);
    @include samewh(100%);
    top: 0;
    left: 0;
    z-index: 1;
  }
  .header-area {
    position: relative;
    color: $white;
    z-index: 2;
    display: flex;
    padding: 10px;
    .logo {
      width: 300px;
      padding: 15px;
      @include flexCentering;
      justify-content: normal;
      font-weight: 800;
      font-size: 20px;
    }
    .links {
      @include flexCentering;
      justify-content: flex-end;
      gap: 10px;
      width: 100%;
      @include paddinglr(0, 20px);
      li {
        a {
          transition: $main-transition;
          &:hover {
            color: var(--main-color);
          }
        }
        .active {
          color: var(--main-color);
        }
      }
    }
  }
  .introduction-text {
    @include transformCentering;
    z-index: 2;
    color: $white;
    text-align: center;
    h1 {
      font-size: 45px;
      margin: 0 0 20px 0;
      span {
        color: var(--main-color);
      }
    }
    p {
      line-height: 1.6;
      font-size: 25px;
      margin: 0;
    }
  }
}
/*end landing page*/
