@import "./mixins";
@import "./colors_variables";
//
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//
html {
  scroll-behavior: smooth;
}
//
:root {
  --main-color: #ff9800;
}
//
body {
  font-family: "Nunito";
}
//
.container {
  width: 1170px;
  @include paddinglr(15px, 15px);
  margin: auto;
}
//
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $white;
}
